{:kotoba.app/id "cloud.itonami.isic-9522", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia2nt5k4fcowntkxmlu66gohtpgfdfofuodtbee3lk2hkr7dl2yoy", :kotoba.app/embed-url "ipfs://bafkreia2nt5k4fcowntkxmlu66gohtpgfdfofuodtbee3lk2hkr7dl2yoy", :published {:archive "https://kotobase.net/ipfs/bafkreia2nt5k4fcowntkxmlu66gohtpgfdfofuodtbee3lk2hkr7dl2yoy", :size 77404, :put-status 201, :get-status 200, :at "2026-08-15T13:59:34.465Z"}}
